## 1. Import the Libraries

In [1]:
import pandas as pd
import numpy as np

import recordlinkage

## 2. Load the datasets for dictionary and the user search

In [2]:
df_dictionary = pd.read_csv("dictionary_companies.csv")
df_search_entries = pd.read_csv("search_entry.csv")
dfD = pd.read_csv("companies_dict.csv")

# Using dfA and dfB for easy reference
dfA = df_dictionary
dfB = df_search_entries

In [3]:
dfA

,id,name,addr,city,ctry,code
0,1,1 MOBILE LIMITED,30 CITY ROAD,LONDON,UK,EC1Y 2AB
1,2,1 TECH LTD,57 CHARTERHOUSE STREET,LONDON,UK,EC1M 6HA
2,3,23 SNAPS LIMITED,16 BOWLING GREEN LANE,LONDON,UK,EC1R 0BD
3,4,2E2 SERVICES LIMITED,200 200 ALDERSGATE ALDERSGATE STREET,LONDON,UK,EC1A 4HD
4,5,2E2 UK LIMITED,200 ALDERSGATE ALDERSGATE STREET,LONDON,UK,EC1A 4HD
5,6,40 50 MEDIA LTD,145-157 ST JOHN STREET,LONDON,UK,EC1V 4PW
6,7,4D DATA CENTRES LIMITED,30 CITY ROAD,LONDON,UK,EC1 2AB
7,8,4GETMOBILE LIMITED,152 KEMP HOUSE CITY ROAD,LONDON,UK,EC1V 2NX
8,9,4SL CONSULTING LIMITED,4 SNOW HILL,LONDON,UK,EC1A 2DJ
9,10,4TC SERVICES LIMITED,355 GOSWELL ROAD,LONDON,UK,EC1V 7JL
10,11,A-INFINITY LIMITED,"AKIN PALMER LLP 3, ANGEL GATE 326 CITY ROAD",LONDON,UK,EC1V 2PT
11,12,A-TEK SOLUTIONS LIMITED,KEMP HOUSE 152-160 CITY ROAD,LONDON,UK,EC1V 2NX
12,13,A.I. TALENT LTD,LONGBOW HOUSE CHISWELL STREET,LONDON,UK,EC1Y 4TW
13,14,AAA CONSULT LTD,2ND FLOOR 145-157 ST. JOHN STREET,LONDON,UK,EC1V 4PY
14,15,AARDVARK UPRISING LIMITED,UNIT 36 88-90 HATTON GARDEN,LONDON,UK,EC1N 8PN
15,16,AB TECHSYS LTD,INTERNATIONAL HOUSE 24 HOLBORN VIADUCT,LONDON,UK,EC1A 2BN
16,17,ABLINX LIMITED,"7TH FLOOR, 16 ST. MARTIN'S LE GRAND",LONDON,UK,EC1A 4EE
17,18,ABSU LIMITED,THIRD FLOOR 111 CHARTERHOUSE STREET,LONDON,UK,EC1M 6AW
18,19,ABV SOLUTIONS LTD,C/O CAYOS CONSULTING SERVICES 40 BOWLING GREEN...,LONDON,UK,EC1R 0NE
19,20,ACTION FOR THE FUTURE LTD,145-157 ST JOHN STREET,LONDON,UK,EC1V 4PW
20,21,ACTIVATED THINKING LIMITED,KEMP HOUSE 152 CITY ROAD,LONDON,UK,EC1V 2NX
21,22,ACTIVON PROJECTS LIMITED,INTERNATIONAL HOUSE 24 HOLBORN VIADUCT,CITY OF LONDON|LONDON,UK,EC1A 2BN
22,23,ACTURIS LIMITED,COURTYARD SUITE 100 HATTON GARDEN,LONDON,UK,EC1N 8NX
23,24,AD PEPPER MEDIA UK LIMITED,20 FARRINGDON ROAD,LONDON,UK,EC1M 3HE
24,25,ADCOMPASS LTD.,6-8 SYCAMORE STREET,LONDON,UK,EC1Y 0SW
25,26,ADD TO CART LTD,145-157 ST JOHN STREET,LONDON,UK,EC1V 4PW
26,27,ADFORM LONDON LIMITED,GATE HOUSE 1 ST JOHN'S SQUARE,LONDON,UK,EC1M 4DH
27,28,ADLUDIO LIMITED,1 HARDWICK STREET HARDWICK STREET,LONDON,UK,EC1R 4RB
28,29,AFIN-IT GROUP LIMITED,KEMP HOUSE 160 CITY ROAD,LONDON,UK,EC1V 2NX
29,30,AFTER THE FLOOD LIMITED,140-142 ST. JOHN STREET,LONDON,UK,EC1V 4UB
...,...,...,...,...,...,...
970,971,01SOLUTION LTD,1417/1419 LONDON ROAD NORBURY,LONDON,UK,SW16 4AH
971,972,08845746 LTD,58 BULSTRODE AVENUE,HOUNSLOW|MIDDLESEX,UK,TW3 3AD
972,973,0902 LIMITED,7 ST JOHN'S ROAD,HARROW|MIDDLESEX,UK,HA1 2EY
973,974,0PT1MATES LTD.,UNIT 11 HOVE BUSINESS CENTRE FONTHILL ROAD,HOVE|EAST SUSSEX,UK,BN3 6HA
974,975,0TENTIC8 LIMITED,10 FINSBURY SQUARE,LONDON,UK,EC2A 1AF
975,976,1 B C LTD,79 STANLEY AVENUE,ROMFORD,UK,RM2 5DJ
976,977,1 CHOICE INTERNET LIMITED,5 BEACON CLOSE FARNHAM,SURREY,UK,GU10 4PA
977,978,1 MEDIA LIMITED,UNIT 3A KIRKBY LONSDALE BUSINESS PARK KIRKBY L...,CARNFORTH|LANCASHIRE,UK,LA6 2GT
978,979,1 MINUS 1 LIMITED,MOLEX HOUSE THE MILLENNIUM CENTRE CROSBY WAY,FARNHAM|SURREY,UK,GU9 7XX
979,980,1 ONION LTD,53 BALHAM GROVE,LONDON,UK,SW12 8AZ
980,981,1 STOP WEB LIMITED,239 ILFORD LANE,ILFORD|ESSEX,UK,IG1 2SB
981,982,1&1 INTERNET LIMITED,DISCOVERY HOUSE 154 SOUTHGATE STREET,GLOUCESTER|GLOUCESTERSHIRE,UK,GL1 2EX
982,983,10 CREATIVE LTD,28 WIMPOLE ROAD GREAT EVERSDEN,CAMBRIDGE,UK,CB23 1HR
983,984,10 DIGITAL LADIES LIMITED,48 DEFOE ROAD,LONDON,UK,N16 0EH
984,985,10 SQUARE LIMITED,"SUITE 1, ARMCON BUSINESS PARK LONDON ROAD SOUT...",STOCKPORT|CHESHIRE,UK,SK12 1LQ
985,986,10000 VOLT TECHNOLOGIES LIMITED,1ST FLOOR 314 REGENTS PARK ROAD FINCHLEY,LONDON,UK,N3 2LT
986,987,10001 LIMITED,19 REDDOWN ROAD,COULSDON|SURREY,UK,CR5 1AN
987,988,1001 VM LIMITED,169 SEABANK ROAD WALLASEY,MERSEYSIDE,UK,CH45 7QL
988,989,100STARLINGS LIMITED,DEVONSHIRE HOUSE 582 HONEYPOT LANE,STANMORE|MIDDLESEX,UK,HA7 1JS
989,990,100X TECH LTD,UNIT 11 HOVE BUSINESS CENTRE FONTHILL ROAD,HOVE|EAST SUSSEX,UK,BN3 6HA
990,991,101 CAD LTD,92A STATION ROAD,LEIGH-ON-SEA|ESSEX,UK,SS9 1SU
991,992,101 IT LIMITED,30 MARKET PLACE SWAFFHAM,NORFOLK,UK,PE37 7QH
992,993,101 NET SOLUTIONS LTD,"THE OLD BANK, 205 - 207 HIGH STREET, COTTENHAM",CAMBRIDGE,UK,CB24 8RX
993,994,101 SOLUTIONS LIMITED,45-47 HIGH STREET 2ND FLOOR,COBHAM|SURREY,UK,KT11 3DP
994,995,101 SYSTEM WORKS LTD,101 ORCHARD ROAD ERDINGTON,BIRMINGHAM,UK,B24 9JE
995,996,101 WEB LIMITED,"17 MIDLAND COURT, STATION APPROACH, OAKHAM",RUTLAND,UK,LE15 6RA
996,997,101DOMAIN LIMITED,C/O FLETCHER KENNEDY LIMITED 72 HIGH STREET,HASLEMERE|SURREY,UK,GU27 2LA
997,998,101SMART LIMITED,UNIT 15 BEECH AVENUE TAVERHAM,NORWICH|NORFOLK,UK,NR8 6HW
998,999,1045 DESIGN STUDIOS LTD,"10TH FLOOR, K &amp; B ACCOUNTANCY GROUP ONE CA...",LONDON,UK,E14 5AA
999,1000,10DUKE SOFTWARE LTD.,2 WATER LANE,LONDON,UK,NW1 8NZ

In [4]:
dfB

   id     name          addr    city ctry      code
0   1  company  30 CITY ROAD  LONDON   UK  EC1Y 2AB

## 3. Make Record Pairs

### 3.1 Block Indexing for Record Pairs

In [5]:
#############   BLOCK INDEXING
def runBlock():  
    block = 0
    
    #Next, check for exact match in name
    blockName = recordlinkage.BlockIndex(on=['name'])
    blockNamePairs = blockName.index(dfA, dfB)
    if len(blockNamePairs) > 0:
         block += 1
    
    #Next, check for exact match in addr    
    blockAddr = recordlinkage.BlockIndex(on=['addr'])
    blockAddrPairs = blockAddr.index(dfA, dfB)
    if len(blockAddrPairs) > 0:
        block += 2
        
    #Next, check for exact match in name AND addr    
    blockNA = recordlinkage.BlockIndex(on=['name','addr'])
    blockNAPairs = blockNA.index(dfA, dfB)
    if len(blockNAPairs) > 0:
        block = 4    
    
    
    if block == 0:
    #run sorted neighborhood both
        runSort()
    if block == 1:
    #grab the id and contents of name match
        print("block name match")
        return(returnResultsMI(blockNamePairs))
        print(blockNamePairs)
    if block == 2:
        #grab the id and contents of addr match
        print("block addr match")
        return(returnResultsMI(blockAddrPairs))
    if block == 3:
        #grab the id and contents of addr match
        print("block different name and addr match")        
    if block == 4:
    #grab the id and contents of addr match
        print("block name and addr match")
        return(returnResultsMI(blockNAPairs))
###############

### 3.2 Sorted Neighborhood Indexing

In [6]:
#############   SORTED NEIGHBORHOOD INDEXING
def runSort():
    sort = 0

    sortedNameIndexer = recordlinkage.SortedNeighbourhoodIndex(on='name')
    sortedNamePairs = sortedNameIndexer.index(dfA, dfB)
    if len(sortedNamePairs) > 0:
        sort += 1

    sortedAddrIndexer = recordlinkage.SortedNeighbourhoodIndex(on='addr')
    sortedAddrPairs = sortedAddrIndexer.index(dfA, dfB)
    if len(sortedAddrPairs) > 0:
        sort += 2

    if sort == 0:
        #run sorted neighborhood both
        print("full index NEXT")
        runFull()
    if sort == 1:
        #compare with name pairs
        print("sort name match")
        runCompare(sortedNamePairs)
    if sort == 2:
        #compare with addr pairs
        print("sort addr match")
        runCompare(sortedAddrPairs)
    if sort == 3:
        #compare with both pairs?
        print("sort both match")
        runFull()

### 4. Compare Record Pairs

In [7]:
######### COMPARE
def runCompare():
    
    compare = recordlinkage.Compare()

    compare.string('name', 'name', method='jarowinkler', threshold=0.95)
    compare.string('addr', 'addr', method='jarowinkler', threshold=0.95)
    compare.exact('city', 'city')
    compare.exact('ctry', 'ctry')
    compare.string('code', 'code', method='jarowinkler', threshold=0.90)

    ######### Specify to neighborhood

    # The comparison vectors for name
    featuresName = compare.compute(sortedNamePairs, dfA, dfB)

    # The comparison vectors for addr
    featuresAddr = compare.compute(sortedAddrPairs, dfA, dfB)

    ########## Classification

    featuresName.sum(axis=1).value_counts().sort_index(ascending=False)
    featuresAddr.sum(axis=1).value_counts().sort_index(ascending=False)
    
    runMatch()

### 5. Classification and Matching

In [8]:
# Classification step
def runMatch():
    match = 0

    matchesNameAll = featuresName[featuresName.sum(axis=1) > 4]
    if len(matchesNameAll) > 0:
        match += 1 
        matchesName = matchesNameAll #overwriting the larger set of results
    else:
        matchesName = featuresName[featuresName.sum(axis=1) > 3]
        if len(matchesName) > 0:
            match += 1
    print(len(matchesName))

    matchesAddrAll = featuresAddr[featuresAddr.sum(axis=1) > 4]
    if len(matchesAddrAll) > 0:
        match += 2 
        matchesAddr = matchesAddrAll #overwriting the larger set of results
    else:
        matchesAddr = featuresAddr[featuresAddr.sum(axis=1) > 3]
        if len(matchesAddr) > 0:
            match += 2
    print(len(matchesAddr))

    ########## FSM

    if match == 0:
        #run sorted neighborhood both
        print("Full Index NEXT")
        runFull()
    if match == 1:
        #grab the id and contents of name match
        print("sort name match")
        return(returnResultsDF(matchesName))
    if match > 1:
        #grab the id and contents of addr match, 11 = preference towards addr
        print("sort addr match")
        return(returnResultsDF(matchesAddr))

### 6. Full Index Pairs and Classification

In [9]:
####### If nothing else finds matches, run FULL INDEX
def runFull():
    compare = recordlinkage.Compare()

    compare.string('name', 'name', method='jarowinkler', threshold=0.95)
    compare.string('addr', 'addr', method='jarowinkler', threshold=0.95)
    compare.exact('city', 'city')
    compare.exact('ctry', 'ctry')
    compare.string('code', 'code', method='jarowinkler', threshold=0.90)
    
    fullIndexer = recordlinkage.FullIndex()
    fullIndexPairs = fullIndexer.index(dfA, dfB)

    featuresFull = compare.compute(fullIndexPairs, dfA, dfB)

    matchesFullAll = featuresFull[featuresFull.sum(axis=1) > 4]
    if len(matchesFullAll) > 0:
        print("full match all")
        return(returnResultsDF(matchesFullAll))
    else:
        matchesFull = featuresFull[featuresFull.sum(axis=1) > 3]
        print("full match")
        #print(type(matchesFull))
        return(returnResultsDF(matchesFull))
    #return the match/matches with highest sum. Maybe try >4 first then >3. for row in frame, 
    #grab id then return the full dict entry of the id

### 7. Return Results

In [10]:
######## RETURN FROM MULTIINDEX

def returnResultsMI(pairs):
    data = pairs.to_frame(index = False)[0]
    i = 0
    grab_ids = []
    while i < len(data):
        grab_ids.append(data[i])
        i+=1   
    for grab_id in grab_ids:
        result = dfD.loc[grab_id].to_string(header = False, index = False)
        results.append(result)
    return results

def returnResultsDF(pairs):
    data = pairs[0]
    i = 0
    grab_ids = []
    while i < len(data):
        grab_ids.append(data[i])
        i+=1   
    for grab_id in grab_ids:
        result = dfD.loc[grab_id].to_string(header = False, index = False)
        results.append(result)
    return results

### 8. Main Method to Run

In [11]:
### MAIN METHOD
# First, check for exact match overall FULL
results = []
blockIndexer = recordlinkage.BlockIndex(on=['name', 'addr', 'city', 'ctry', 'code'])
blockIndexPairs = blockIndexer.index(dfA, dfB)
if len(blockIndexPairs) > 0:
    #continue
    print(returnResults(blockIndexPairs))
else:
    runBlock()

print(results)

block addr match
['1 MOBILE LIMITED 30 CITY ROAD LONDON EC1Y 2AB', '4D DATA CENTRES LIMITED 30 CITY ROAD LONDON EC...', 'NCSOFT EUROPE LIMITED 30 CITY ROAD LONDON EC1Y...']

### 9. Output to the UI, Variable outputRL, Based on Result Length

In [12]:
## OUTPUT TO UI
outputRL = ""

if len(results) == 0:
    outputRL = "No results were found using Record Linkage"
if len(results) == 1:
    outputRL = "Did you mean: " + results[0] + " ?"
if len(results) == 2:
    outputRL = "Did you mean: " + results[0] + " ?" + "\n" + "Or possibly: " + results[1] + " ?"    
if len(results) == 3:
    outputRL = "Did you mean: " + results[0] + " ?" + "\n" + "Or possibly: " + results[1] + " ?" + "\n" + "Or possibly this: " + results[2] + " ?"    
if len(results) > 3:
    outputRL = "Number of results: " + str(len(results)) + ". Too many match results found. Please enter new data."

print(outputRL)

Did you mean: 1 MOBILE LIMITED 30 CITY ROAD LONDON EC1Y 2AB ?
Or possibly: 4D DATA CENTRES LIMITED 30 CITY ROAD LONDON EC... ?
Or possibly this: NCSOFT EUROPE LIMITED 30 CITY ROAD LONDON EC1Y... ?